.item {
    width: 390px;
    height: 390px;
    border-radius: 16px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.item:hover .discription {
    display: flex;
    transition: 0.3s ease-in-out;
}

.discription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: #23232350;

    border-radius: 16px;

    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 20;
    color: white;
    padding-bottom: 30px;
    transition: 0.3s ease-in-out;


}

.discText {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
}

.title {
    font-size: 24px;
    font-weight: 800;
}

.weight {
    font-size: 16px;
    font-weight: 600;
}

.calories {
    font-size: 12px;
    font-weight: 600;
    color: #E9F8FB;
}
@media (max-width:1250px){

    .item {
        width: 320px;
        height: 320px;
        border-radius: 16px;
        position: relative;
    }

    .button {    
        font-size: 24px;
    } 
    .title {
        font-size: 24px;
   
    } 
    .weight {
        font-size: 16px;  
    }  
    .calories {
        font-size: 12px;
    
    }
}

@media (max-width:1000px){
    .item {
        width: 260px;
        height: 260px;
        border-radius: 16px;
        position: relative;
    }

    .button {    
        font-size: 18px;
    } 
    .title {
        font-size: 18px;
   
    } 
    .weight {
        font-size: 14px;  
    }  
    .calories {
        font-size: 12px;
    
    }
}
@media (max-width:750px){
    .item {
        width: 200px;
        height: 200px;
        border-radius: 16px;
        position: relative;
    }

    .button {    
        font-size: 18px;
    } 
    .title {
        font-size: 18px;
   
    } 
    .weight {
        font-size: 14px;  
    }  
    .calories {
        font-size: 12px;
    
    }
}