.wrapper{
    margin: 0 auto;
    width: 1660px;
  
    display: flex;
    align-items: center;
   
  }
  .header{
    padding:50px 135px ;
  }
  .header_nav{
    display: flex;
    padding: 0;
    list-style: none;
    gap:30px;
    font-size: 20px;
    font-weight: 500;
    color: #818282;
    margin: 0 auto;
  }
  .item.active{
    color: #FE8C01;
  }
  .cart{
    position: relative;
  }
  .countCart{
    width: 26px;
    height: 26px;
    border-radius: 50%;
  
    background-color: #FE8C01;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 36px;
    left: 20px;
  }
  